<div class="contai">
    <div class="home-box">
        <h1>TAKE YOUR MUSIC TO THE NEXT LEVEL.</h1>
        <p>

            Music is a lifelong journey. There’s always more to learn. We offer courses and experiences that will help
            you
            fast-track your learning and put it into action right away.

        </p>
        <div class="example-button-row">
            <button mat-raised-button routerLink="progrmas" color="primary">START LEARNING</button>
        </div>
    </div>
</div>