.contai{
    box-sizing: border-box;
   
}

.big_box{
width: 100%;
display: flex;
}
.box1{
    width: 15%;
    padding: 2%;
    font-size:small;
}
mat-label{
    font-size:large;
}
mat-checkbox{
    margin-bottom: 2px;
}


.box2{
    width: 100%;
    padding: 2%;
 
}
.teacher-card {
    margin: 0px 16px 16px 0;
    width:100%;
  }

  /* teacher-recommendations.component.css */
.teacher-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .teacher-info .instrument {
    font-weight: bold;
    font-size: 16px;
  }
  
  .teacher-info .instructor {
    font-size: 12px;
    color: #888;
  }

  .custom-card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;
    transform: translateY(0);
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .custom-card-header {
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .avatar img {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  
  .header-text {
    flex-grow: 1;
  }
  
  .card-title {
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .instructor-info {
    text-align: right;
  }
  
  .instructor-title {
    font-weight: 550;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; */
  }

  .instructor{
    font-weight: 55;
    color: #848282;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
  }
  
  .custom-card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: justify;
  }
  
  .card-description {
    margin-bottom: 16px;
  }
  
  .experience {
    font-weight: 550;
    margin-bottom: 8px;
  }
  
  .rating {
    font-weight: 550;
  }
  
  .book-button {
    position: absolute;
    bottom: 16px; /* Adjust this value as needed to control the vertical position */
    right: 16px; /* Adjust this value as needed to control the horizontal position */
  }